extends layout

block content

  h2 Edit Skill

  form(method="POST" action="/admin/skills/edit/"+skill._id)

    label Name
    input(type="text" name="name" value=skill.name required)

    label Category
    textarea(name="description")= project.description

    label Technologies
    input(
      type="text"
      name="technologies"
      value=project.technologies.join(", ")
    )

    label GitHub Link
    input(type="text" name="githubLink" value=project.githubLink)

    label Live Link
    input(type="text" name="liveLink" value=project.liveLink)

    label Featured
    input(
      type="checkbox"
      name="featured"
      checked=project.featured
    )

    br
    button.btn(type="submit") Update Project